.size {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.increase {
  color: #e57373;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.increase:hover {
  cursor: pointer;
}

.decrease {
  color: #81c784;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.decrease:hover {
  cursor: pointer;
}
